public-hoist-pattern[]=*@heroui/*
package-lock=true
trust-policy-exclude[]=reselect@5.1.1
ignore-workspace-root-check=true
trust-policy-exclude[]=langium@3.3.1
trust-policy-exclude[]=@streamdown/mermaid@1.0.2